@use "../../styles/variables";
@use "../../styles/mixins";

.projects {
  color: variables.$black;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 2rem;

  @include mixins.respond-to("md") {
    padding: 2rem 8rem;
  }

  .projectsContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: content;
    gap: 2rem;
    justify-content: center;

    .projectCardContainer {
      grid-column: span 12;
    }
  }

  .projectsFooter {
    font-size: 0.8rem;
    opacity: 0;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: variables.$accent;
    }

    @include mixins.respond-to("md") {
      font-size: 1.5rem;
    }
  }
}

.fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
