@use "../../../styles/variables";
@use "../../../styles/mixins";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: variables.$black;
  color: variables.$white;
  padding: 1rem 1.5rem;
  border-radius: 0 0 15% 15%;

  .title {
    display: flex;
    gap: 1rem;
    align-items: center;

    .logo {
      font-weight: bold;
      font-size: 2rem;
      cursor: pointer;

      @include mixins.respond-to("md") {
        font-size: 3rem;
      }
    }

    .tag {
      font-weight: 500;
      font-size: 1rem;
      cursor: default;
      display: none;

      @include mixins.respond-to("sm") {
        display: block;
      }

      @include mixins.respond-to("md") {
        font-size: 1.5rem;
      }
    }
  }

  .menu {
    display: none;
    gap: 1rem;

    @include mixins.respond-to("sm") {
      display: flex;
    }
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 1001;

    @include mixins.respond-to("sm") {
      display: none;
    }

    .sidebar {
      position: relative;
      transform: translateY(-100%);
      opacity: 0;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
      pointer-events: none;

      &.open {
        animation: slideIn 0.4s ease-in-out forwards;
        pointer-events: all;
      }

      &.close {
        animation: slideOut 0.3s ease-in-out forwards;
        pointer-events: none;
      }

      .sidebarNav {
        list-style: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;
        padding: 1rem;
        border-radius: 10px;
        z-index: 1000;
        background-color: variables.$black;
      }
    }
  }
}

.navItem {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 0.8rem;

  &:hover {
    background-color: variables.$black-hover;
  }

  @include mixins.respond-to("md") {
    font-size: 1rem;
    gap: 0.5rem;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
