@use "../../../styles/variables";
@use "../../../styles/mixins";

.aboutPage {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;

  @include mixins.respond-to("md") {
    gap: 2rem;
  }

  .pageContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include mixins.respond-to("md") {
      gap: 4rem;
    }

    .aboutContainer {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 2rem;

      .portrait {
        grid-column: span 3;
        aspect-ratio: 6/9;
        width: 300px;
        border-radius: 10px;
      }

      .aboutDescription {
        grid-column: span 9;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .aboutDescriptionContainer {
          font-size: 1.2rem;

          .aboutDescriptionHeader {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
          }
        }

        .aboutHobbiesContainer {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .aboutHobbiesDescription {
            font-size: 1.2rem;
          }

          .aboutHobbiesCardContainer {
            display: flex;
            gap: 1rem;

            .hobbyCard {
              width: 5rem;
              aspect-ratio: 1/1;
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              align-items: center;
              justify-content: center;
              background-color: variables.$white;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }

  .aboutItemsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;

    .containerText {
      grid-column: span 12;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      order: -1;

      @include mixins.respond-to("md") {
        grid-column: span 6;
        order: 0;
      }

      .textTitle {
        font-size: 1rem;

        @include mixins.respond-to("md") {
          font-size: 2rem;
        }
      }
      .textDescription {
        font-size: 0.8rem;
        text-align: center;

        @include mixins.respond-to("md") {
          font-size: 1.2rem;
        }
      }
    }

    .containerItems {
      grid-column: span 12;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 1rem;

      @include mixins.respond-to("md") {
        grid-column: span 6;
      }

      .itemContainer {
        border-radius: 10px;
        grid-column: span 4;
        background-color: variables.$white;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        font-size: 0.7rem;

        @include mixins.respond-to("md") {
          font-size: 1rem;
        }

        .itemDot {
          border-radius: 50%;
          width: 5px;
          aspect-ratio: 1/1;
          background-color: variables.$black;

          @include mixins.respond-to("md") {
            width: 10px;
          }
        }
      }
    }
  }

  .testimonialsContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .testimonialsText {
      display: flex;
      flex-direction: column;
      align-items: center;

      .textTitle {
        font-size: 2rem;
      }

      .textDescription {
        font-size: 1.2rem;
        text-align: center;
      }
    }

    .testimonialCards {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 1rem;
    }
  }
}
