@use "../../styles/variables";
@use "../../styles/mixins";

.hero {
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 90vh;

  .heroParalax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 8rem;

    .heroContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      .heroDescription {
        font-size: 0.8rem;

        @include mixins.respond-to("sm") {
          font-size: 1rem;
        }

        @include mixins.respond-to("md") {
          font-size: 1.2rem;
        }

        .heroDescriptionTitle {
          font-size: 1.2rem;

          @include mixins.respond-to("md") {
            font-size: 2rem;
          }
        }
      }
    }
  }

  .heroTriangle {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
}
