@use "../../styles/variables";

.skills {
  background-color: variables.$black;
  color: variables.$black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
