@use "../../styles/variables";
@use "../../styles/mixins";

.about {
  background-color: variables.$black;
  color: variables.$white;
  padding: 2rem;
  border-radius: 8%;

  @include mixins.respond-to("md") {
    padding: 5rem 8rem;
  }

  .aboutContainer {
    display: flex;
    padding: 2rem 0;
    gap: 1rem;

    @include mixins.respond-to("md") {
      gap: 2rem;
    }

    .aboutLeft {
      width: 100%;
      display: flex;
      flex-direction: column;
      transition: color 1s ease-in-out;

      @include mixins.respond-to("md") {
        width: 66%;
      }

      .leftContent {
        font-size: 1rem;
        margin-bottom: 2rem;

        @include mixins.respond-to("md") {
          font-size: 1.5rem;
        }
      }

      .leftAccent {
        transition: color 1s ease-in-out;
        color: variables.$accent;
      }

      .leftContainer {
        width: 100%;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
        display: none;

        @include mixins.respond-to("md") {
          display: grid;
        }

        .aboutContainerItem {
          grid-column: span 4;
          background-color: variables.$white;
          color: variables.$black;
          border-radius: 10px;
          display: flex;
          gap: 0.5rem;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          padding: 1rem 0;
        }
      }

      .leftSmall {
        margin: 2rem 0;
        font-size: 1.2rem;
        display: none;

        @include mixins.respond-to("md") {
          display: block;
        }
      }
    }
  }

  .aboutRight {
    width: 37%;
    height: auto;
    border-radius: 10px;
    display: none;

    @include mixins.respond-to("md") {
      display: block;
    }
  }
}
