@use "../../styles/variables";
@use "../../styles/mixins";

.contact {
  padding: 2rem;

  @include mixins.respond-to("md") {
    padding: 5rem 8rem;
  }

  .contactContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin: 1rem 0;

    @include mixins.respond-to("md") {
      gap: 2rem;
      margin: 2rem 0;
    }

    .contactContainerContent {
      font-size: 0.8rem;

      @include mixins.respond-to("md") {
        font-size: 1.2rem;
      }
    }
  }

  .contactInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .contactInfoTitle {
      font-size: 1rem;

      @include mixins.respond-to("md") {
        font-size: 1.2rem;
      }
    }

    .contactInfoContainer {
      display: flex;
      justify-content: center;
      gap: 2rem;

      .contactInfoItem {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        font-size: 0.7rem;

        @include mixins.respond-to("md") {
          font-size: 1rem;
        }
      }
    }
  }

  .contactContent {
    font-size: 0.8rem;

    @include mixins.respond-to("md") {
      font-size: 1.2rem;
    }
  }
}
