@use "../../styles/variables";
@use "../../styles/mixins";

.footer {
  background-color: variables.$black;
  color: variables.$white;
  padding: 0 1.5rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 -1px 0 variables.$black;

  @include mixins.respond-to("md") {
    padding: 0 8rem 1rem 8rem;
    gap: 3rem;
  }

  .footerTop {
    display: flex;
    gap: 2rem;
    font-size: 1rem;

    @include mixins.respond-to("md") {
      gap: 8rem;
      font-size: 2rem;
    }

    .topSocial {
      display: flex;
      flex-direction: column;

      .topSocialContainer {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        border-top: 0.1rem solid;
        border-color: variables.$white;
        padding-top: 0.5rem;
        margin-top: 0.5rem;

        @include mixins.respond-to("md") {
          gap: 1rem;
        }
      }

      .topItem {
        display: flex;
        align-items: center;
      }
    }

    .topLinks {
      display: flex;
      flex-direction: column;

      .topLinksContainer {
        display: flex;
        gap: 0.7rem;
        font-size: 0.8rem;
        border-top: 0.1rem solid;
        border-color: variables.$white;
        padding-top: 0.5rem;
        margin-top: 0.5rem;

        @include mixins.respond-to("md") {
          font-size: 1.2rem;
          gap: 2rem;
        }
      }

      .topSocialItem {
        cursor: pointer;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: variables.$accent;
        }
      }
    }
  }

  .footerBottom {
    display: flex;
    width: 100%;

    .bottomTitle {
      display: flex;
      gap: 1rem;
      align-items: center;
      width: 100%;

      .bottomTitleLogo {
        font-weight: bold;
        font-size: 2rem;
        margin: 0;
        padding: 0;
      }

      .bottomTitleTag {
        font-size: 0.7rem;
        display: flex;
        justify-content: flex-end;
        width: 100%;

        @include mixins.respond-to("md") {
          justify-content: space-between;
          font-size: 1rem;
        }

        .tagDescription {
          display: none;

          @include mixins.respond-to("md") {
            display: block;
          }
        }
      }
    }
  }
}
