@use "../../../../../styles/variables";

.kitchenwares {
  &__rect {
    fill: transparent;
    stroke: variables.$black;
    stroke-width: 5;
  }

  &__line {
    stroke: variables.$black;
    stroke-width: 5;
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  .animated-line {
    stroke: red;
    stroke-width: 5;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}
