@use "../../styles/variables";
@use "../../styles/mixins";

.icon {
  width: 12px;
  height: 12px;

  @include mixins.respond-to("md") {
    width: 24px;
    height: 24px;
  }

  &__hamburger {
    width: 24px;
    height: 24px;
  }

  &__linkedIn {
    width: 16px;
    height: 16px;

    @include mixins.respond-to("md") {
      width: 30px;
      height: 30px;
    }
  }

  &__black {
    fill: variables.$black;
  }

  &__white {
    fill: variables.$white;
  }
}
