@use "../../../styles/variables";
@use "../../../styles/mixins";

.projectsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 8rem;

  @include mixins.respond-to("md") {
    gap: 2rem;
  }

  .projectsPageContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: content;
    gap: 1rem;
    justify-content: center;

    @include mixins.respond-to("md") {
      gap: 2rem;
    }

    .projectCardContainer {
      grid-column: span 12;
    }
  }
}
