@use "../../../styles/variables";

.projects {
  position: relative;
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;

  &__card {
    grid-column: span 12;
  }
}
